
img {
    width: 60%;
    height: auto;
}

.cat-image {
    position: relative;
}


.images-container {
    position: relative;
    margin-top: 25%;
}

#cat-holder {
    position: absolute;
    top: -55%;
    left: 20%;
}

#random-cat {
    border: 5px solid black;
    border-radius: 5px;
}